@use "../../../assets/styles/index.scss" as *;

.CreateTaskModal {
  width: 50vw;
  height: 50vh;
  background: $primary;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 32px;
  border: 1px solid #dddddd;
  box-shadow: 2px 1px 2px rgba(0, 22, 71, 0.045);
  row-gap: pixRem(14);
  padding: 32px;
  text-align: center;

  @include md() {
    width: 80vw;
    height: auto;
  }
  @include sm() {
    width: 95vw;
    height: auto;
    padding: 32px 16px;
  }

  .header {
    h1 {
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      color: $mainFont;

      @include sm() {
        font-size: 28px;
        line-height: 30px;
        text-align: center;
      }
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $secondaryFont;

      @include sm() {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
      }
    }
  }

  .form_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;

    .form_fiels {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Inter";
      row-gap: 20px;

      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        row-gap: 0;

        @include sm() {
          width: 100%;
        }

        label {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: $secondaryFont;
          text-align: left;

          @include sm() {
            font-size: 12px;
            line-height: 14px;
            text-align: center;
          }
        }

        input {
          width: 100%;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: $mainFont;
          text-align: left;
          padding: 12px;
          border: 1px solid #eeeeee;
          border-radius: 8px;
          background: #ffffff;
        }
        input:focus {
          border: 1px solid #3167b8;
        }
      }
    }

    button {
      border-radius: 16px;
      background-color: $secondary;
      color: #ffffff;
      width: 180px;
      padding: 8px 18px;
      text-align: center;
      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      cursor: pointer;
      font-family: "Sora", sans-serif;
      box-shadow: 3px 2px 4px rgba(0, 23, 71, 0.15);
      transition: all ease 0.2s;

      @include sm() {
        width: 100%;
      }
    }

    button:hover {
      background-color: #3167b8;
    }
  }
}
